{% extends 'admin/index.html.twig' %}

{% block table %}
<div class="table-wrapper">
<h3 class="icon fa-caret-right">&nbsp;SECTION : {{ section|upper }}</h3>
{% for message in app.flashes('message_admin') %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<table class="table table-striped text-left">
  <thead>
    <tr>
      {% for key, header in headers %}
        <th>
          <div class="headers">
            {{ header }}
            <div class="sort-buttons">
              <a href="{{ path('admin_user_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="{{ 'Descending sorting'|trans }}"></a>
              <a href="{{ path('admin_user_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="{{ 'Ascending sorting'|trans }}"></a>
            </div>
          </div>
        </th>
      {% endfor %}
      <th>{% trans %}Role{% endtrans %}</th>  
      <th>Actions</th>  
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>
          {% if 'ROLE_AGENT' in user.roles %}{% trans %}Agent{% endtrans %}{% endif %}
          {% if 'ROLE_LEASEOWNER' in user.roles %}{% trans %}Lease owner{% endtrans %}{% endif %}
          {% if 'ROLE_OWNER' in user.roles %}{% trans %}Owner{% endtrans %}{% endif %}
          {% if 'ROLE_TENANT' in user.roles %}{% trans %}Tenant{% endtrans %}{% endif %}
        </td>
        <td style="display: flex;">
            <a href="{{ path('admin_user_edit', {'id':user.id}) }}" class="btn-table btn-edit icon fa-pencil" role="button" title="{{ 'Edit'|trans }}"></a>
            <a href="{{ path('admin_user_delete', {'id':user.id}) }}" class="btn-table btn-delete icon fa-trash" role="button" title="{{ 'Delete'|trans }}" onclick="return confirm('{{ user.firstname }} {{ user.lastname }} {{ 'will be definitely deleted, this choice must be confirmed ?'|trans }}')"></a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% if users.getTotalItemCount > 7 %}
  {{ knp_pagination_render(users) }}
{% endif %}
{% endblock %}
