{% extends 'base.html.twig' %}

{% block title %}Mon espace - LocationImmo
{% endblock %}

{% block body %}
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<li style="background-image: url({{asset('assets/images/properties/home_04.jpg')}})">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 col-md-offset-1 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
                  <div class="global-form">
                    <form method="post">
                      {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}

                      {% if app.user %}
                        <div class="mb-3">
                          You are logged in as
                          {{ app.user.username }},
                          <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                      {% endif %}

                      <h1 class="h3 mb-3 font-weight-normal text-green">Please sign in</h1>
                      <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                        <input
                        type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                      </div>
                      <div class="form-group">
                        <div class="checkbox-group">
                          <input type="checkbox" name="_remember_me"> 
                          <label>Remember me</label>
                        </div>
                      </div>
                      <div class="button-right">
                        <button class="btn btn-primary" type="submit">Sign in</button>
                      </div>
                    </form>
								  </div>
                </div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>
{% endblock %}
