<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="{{ path('home') }}"><i class="icon-home"></i><span>Location</span>Immo</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="{{ active == 'home' ? 'active' : '' }}"><a href="{{ path('home') }}">Accueil</a></li>
							<li class="{{ active == 'announce' ? 'active' : '' }}"><a href="{{ path('announce_list') }}">Annonces</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li class="{{ active == 'myspace' ? 'active' : '' }}">
								<a href="#" class="fh5co-sub-ddown">Mon espace</a>
								<ul class="fh5co-sub-menu">
									<li><a href="{{ path('app_register') }}" class="icon fa-id-card-o">&nbsp;S'inscrire</a></li>
									{% if is_granted('ROLE_ADMIN') %}
										<li><a href="{{ path('admin_home') }}" class="icon fa-superpowers">&nbsp;Administrateur</a></li>
									{% endif %}
									{% if is_granted('ROLE_USER') %}
										<li><a href="{{ path('app_logout') }}" class="icon fa-unlock">&nbsp;Se déconnecter</a></li>
									{% else %}
										<li><a href="{{ path('app_login') }}" class="icon fa-lock">&nbsp;Se connecter</a></li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>