<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="{{ path('home') }}"><i class="icon-home"></i><span>Location</span>Immo</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="{{ active == 'home' ? 'active' : '' }}">
								<a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
							<li class="{{ active == 'announce' ? 'active' : '' }}"><a href="{{ path('announce_list') }}">{% trans %}Properties{% endtrans %}</a></li>
							<li class="{{ active == 'contact' ? 'active' : '' }}"><a href="{{ path('contact_home') }}">Contact</a></li>
							{% include "include/_myspacenav.html.twig" %}
							{% for locale in locales %}
								{% if locale != app.request.locale %}
									<li><a href="{{ path('change_locale', {'locale': locale}) }}"><img src="{{ asset('assets/images/'~locale~'-flag.png') }}" alt="{{ locale }}-flag" height="25px"></a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				</div>
			</div>
		</header>