{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %} - LocationImmo{% endblock %}

{% block body %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			<li style="background-image: url({{asset('assets/images/properties/home_01.jpg')}});">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
						<div class="slider-text-inner">
							<h2 class="heading-title">Location Immo</h2>
							<a href="{{ path('announce_home') }}" class="btn btn-primary btn-homepage icon fa-search">&nbsp;{% trans %}Learn More{% endtrans %}</a>
							<a href="#fh5co-popular-properties" class="btn btn-primary btn-homepage icon fa-arrow-right">&nbsp;{% trans %}New Properties{% endtrans %}</a>
						</div>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>
<div id="fh5co-popular-properties" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>{% trans %}New Properties{% endtrans %}</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
		<div class="row">
			{% for announce in announces %}
				<div class="col-md-4 animate-box">
					<a href="#" class="fh5co-property" style="{% if announce.images|length > 0 %}background-image:url({{asset('images/announces/'~announce.images[0].image)}}){% else %}background-image:url({{asset('assets/images/properties/home_07.jpg')}}){% endif %}">
						<span class="status">{{ announce.type|trans }}</span>
						<div class="prop-details">
							<span class="price">{{ announce.price|trans }} € / {% trans %}Month{% endtrans %}</span>
							<h3>{{ announce.title }}, {{ announce.city }}</h3>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div id="fh5co-testimonial" style="background:url({{asset('assets/images/main-bg-testimonial.jpg')}}) center/cover">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>{% trans %}Testimonials{% endtrans %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="box-testimony animate-box">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
						<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro tempore magnam exercitationem adipisci unde sapiente provident aliquid cum nam ipsam sed ullam maiores dicta, esse aut atque. Enim nemo officia qui vitae explicabo cumque voluptates at, animi fugiat quidem. Facere!&rdquo;</p>
					</blockquote>
					<p class="author">John Doe</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-testimony animate-box">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
						<p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolor voluptas repudiandae sequi nobis ex nam, dicta iste. Obcaecati, a?&rdquo;</p>
					</blockquote>
					<p class="author">Jane Doe</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="box-testimony animate-box">
					<blockquote>
						<span class="quote"><span><i class="icon-quotes-right"></i></span></span>
						<p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat voluptates incidunt labore sit. Voluptates consectetur ullam, repudiandae quisquam maiores itaque eius sunt similique est aperiam, labore mollitia. Optio unde nihil eius. Tempore similique ullam sit veritatis, ut mollitia illo cum.&rdquo;</p>
					</blockquote>
					<p class="author">John Doe</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
