<h2>{% trans %}Message of{% endtrans %} : LocationImmo</h2>
<hr>
<h3><strong>{% trans %}Name{% endtrans %} : </strong>{{ firstname }} {{ lastname }}</h3>
<h3><strong>Email : </strong>{{ mail }}</h3>
<hr>
<h4><strong>{% trans %}Subject{% endtrans %} : </strong>{{ subject }}</h4>
<h4>Message :</h4>
<p>{{ message }}</p>