{% extends 'base.html.twig' %}

{% block title %}Annonces - LocationImmo
{% endblock %}

{% block body %}

	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
				<li style="background-image: url({{asset('assets/images/properties/home_04.jpg')}});">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
								<div class="slider-text-inner">
									<h2 class="heading-title">Nos annonces</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, itaque quas? Dolorum dolorem quod excepturi.</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>

	<div id="fh5co-search-map">
		<div class="search-property">
			<div class="s-holder">
				<h2>Search Properties</h2>
				<div class="row">
					<div class="col-xxs-12 col-xs-12">
						<div class="input-field">
							<label for="from">Keyword:</label>
							<input type="text" class="form-control" id="from-place" placeholder="Any"/>
						</div>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Property Status:</label>
							<select class="cs-select cs-skin-border">
								<option value="" disabled selected>Any</option>
								<option value="1">Rent</option>
								<option value="2">Sale</option>
							</select>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Property Type:</label>
							<select class="cs-select cs-skin-border input-half">
								<option value="" disabled selected>Any</option>
								<option value="1">Building</option>
								<option value="2">Office</option>
							</select>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<div class="input-field">
							<label for="from">Location:</label>
							<input type="text" class="form-control" id="from-place" placeholder="Any"/>
						</div>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Price:</label>
							<div class="wide">
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
							</div>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Bedrooms:</label>
							<div class="wide">
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
							</div>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Bathrooms:</label>
							<div class="wide">
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
							</div>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Area:</label>
							<div class="wide">
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
							</div>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12">
						<section>
							<label for="class">Parking spots:</label>
							<div class="wide">
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
								<select class="cs-select cs-select-half cs-skin-border input-half">
									<option value="" disabled selected>Any</option>
									<option value="1">Building</option>
									<option value="2">Office</option>
								</select>
							</div>
						</section>
					</div>
					<div class="col-xxs-12 col-xs-12 text-center">
						<p>
							<a class="btn btn-primary btn-lg" href="#">Learn More</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="map" style="background-image: url({{asset('assets/images/properties/home_01.jpg')}});"></div>
	</div>
	<div id="fh5co-properties" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>Tous nos biens</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
			<div class="row">
				{% for announce in announces %}
					<div class="col-md-4 animate-box">
						<div class="property">
							<a href="#" class="fh5co-property" style="background-image: url({{asset('assets/images/properties/home_07.jpg')}});">
								<span class="status">{{ announce.type }}</span>
								<ul class="list-details">
									<li>{{ announce.area }} m²</li>
									<li>{{ announce.rooms }} pièces</li>
									<li>{{ announce.bedrooms }} chambres</li>
								</ul>
							</a>
							<div class="property-details">
								<h3>{{ announce.title }}</h3>
								<span class="price">{{ announce.price }}
									€ / mois</span>
								<p>{{ announce.description|slice(0, 100) }}...</p>
								<span class="address">
									<i class="icon-map"></i>
									{{ announce.city }}</span>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
    {% if announces.getTotalItemCount > 12 %}
      {{ knp_pagination_render(announces) }}
    {% endif %}
	</div>
{% endblock %}
