{% extends 'base.html.twig' %}

{% block title %}{% trans %}Properties{% endtrans %} - LocationImmo
{% endblock %}

{% block body %}
	<div id="fh5co-search-map">
		{% include "announce/_searchForm.html.twig" %}
		<div class="map">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
						<li style="background-image: url({{asset('assets/images/properties/home_04.jpg')}});">
							<div class="overlay"></div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
										<div class="slider-text-inner">
											<h2 class="heading-title">{% trans %}Our properties{% endtrans %}</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, itaque quas? Dolorum dolorem quod excepturi.</p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
	<div id="fh5co-properties" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>{% trans %}All our properties{% endtrans %}</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
			<div class="row">
				{% set index = '' %}
				{% for announce in announces %}
					{% set index = random(1, 14) %}
					{% if index < 10 %}{% set index = '0'~index %}{% endif %}
					<div class="col-md-4 animate-box">
						<div class="property">
							<a href="{{ path('announce_view', {'id': announce.id}) }}" class="fh5co-property" style="{% if announce.images|length > 0 %}background-image:url({{asset('images/announces/'~announce.images[0].image)}}){% else %}background-image:url({{asset('assets/images/properties/home_'~index~'.jpg')}}){% endif %}">
								<span class="status">{{ announce.type|trans }}</span>
								<ul class="list-details">
									<li>{{ announce.area }} m²</li>
									<li>{{ announce.rooms }} {% trans %}Rooms{% endtrans %}</li>
									<li>{{ announce.bedrooms }} {% trans %}Bedrooms{% endtrans %}</li>
								</ul>
							</a>
							<div class="property-details">
								<h3>{{ announce.title }}</h3>
								<span class="price">{{ announce.price }} € / {% trans %}Month{% endtrans %}</span>
								<p>{{ announce.description|slice(0, 100) }}...</p>
								<span class="address">
									<i class="icon-map"></i>
									{{ announce.city }}</span>
							</div>
							<div class="button-right">
								<a href="{{ path('announce_view', {'id': announce.id}) }}" class="btn-sm btn-primary icon fa-eye">&nbsp;{% trans %}Show details{% endtrans %}</a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="alert alert-danger">
							<i class="icon-sad"></i>&nbsp;{% trans %}There is no property corresponding to the search criteria{% endtrans %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
    {% if announces.getTotalItemCount > 12 %}
      {{ knp_pagination_render(announces) }}
    {% endif %}
	</div>
{% endblock %}
