{% extends 'dashboard/index.html.twig' %}
{% block table %}
	<div class="table-wrapper">
		{% include "dashboard/_sectiontitle.html.twig" %}
		{% for message in app.flashes('announce_message') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
		<table class="table table-striped text-left">
			<thead>
				<tr>
					{% for key, header in headers %}
						<th>
							<div class="headers">
								{{ header|capitalize }}
								<div class="sort-buttons">
									<a href="{{ path('announce_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="{{ 'Descending sorting'|trans }}"></a>
									<a href="{{ path('announce_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="{{ 'Ascending sorting'|trans }}"></a>
								</div>
							</div>
						</th>
					{% endfor %}
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for announce in announces %}
					<tr>
						<td>
							<strong>{{ announce.title }}</strong><br>{{ announce.description|slice(0,100) }}...
            </td>
						<td>{{ announce.city }}</td>
						<td style="white-space:nowrap">{{ announce.price }} €</td>
						<td>
              <div class="card-active">
                <label class="switch">
                  <input type="checkbox" class="btn-active" {{ announce.active ? 'checked' : '' }} data-id="{{ announce.id }}">
                  <span class="slider round"></span>
                </label>
              </div>
						</td>
						<td>
							<div class="card-firstpage">
								<label class="switch">
									<input type="checkbox" class="btn-firstpage" {{ announce.firstpage ? 'checked' : '' }} data-id="{{ announce.id }}" {{ is_granted('ROLE_LEASEOWNER') ? 'disabled' : '' }}>
									<span class="slider round"></span>
								</label>
							</div>
						</td>
						<td>
							{% if announce.tenant %}
								{% trans %}yes{% endtrans %}
								<a href="{{ path('message_contact_tenant', {'id': announce.tenant.id}) }}" class="btn-lg icon fa-envelope-o" role="button" title="{{ 'Contact tenant'|trans }}" style="padding:10px"></a>
							{% else %}
								{% trans %}no{% endtrans %}
							{% endif %}
						</td>
						<td style="display: flex;">
							<a href="{{ path('announce_edit', {'id': announce.id}) }}" class="btn-table btn-edit icon fa-pencil" role="button" title="{{ 'Edit'|trans }}"></a>
							<a class="btn-table btn-delete icon fa-trash btn-delete-announce" data-id="{{ announce.id }}" role="button" title="{{ 'Delete'|trans }}" data-confirm="{{'The property'|trans }} {{ announce.title }} {{'will be definitely deleted, this choice must be confirmed ?'|trans }}"></a>
						</td>  
					</tr>
				{% else %}
					<tr>
						<td colspan="7">{% trans %}There are no properties to display{% endtrans %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if announces.getTotalItemCount > 7 %}
		{{ knp_pagination_render(announces) }}
	{% endif %}
  {% if is_granted('ROLE_AGENT') or is_granted('ROLE_LEASEOWNER') %}
    <div class="button-right">
      <a href="{{ path('announce_new') }}" class="btn-sm btn-default icon fa-plus">&nbsp;{% trans %}Add{% endtrans %}</a>
    </div>
  {% endif %}
{% endblock %}
