{% extends 'dashboard/index.html.twig' %}

{% block table %}
<div class="table-wrapper">
{% include "dashboard/_sectiontitle.html.twig" %}
{% for message in app.flashes('message_admin') %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<table class="table table-striped text-left">
  <thead>
    <tr>
      {% for key, header in headers %}
        <th>
          <div class="headers">
            {{ header }}
            <div class="sort-buttons">
              <a href="{{ path('message_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="{{ 'Descending sorting'|trans }}"></a>
              <a href="{{ path('message_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="{{ 'Ascending sorting'|trans }}"></a>
            </div>
          </div>
        </th>
      {% endfor %}
      <th>Actions</th>  
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
      <tr>
        <td><a class="{{ message.messageRead ? 'icon fa-envelope-open-o btn-message' : 'icon fa-envelope btn-message'}}" data-id="{{ message.id }}" value="{{ message.messageRead }}"></a></td>
        <td>{{ message.firstnameSender }}</td>
        <td>{{ message.lastnameSender }}</td>
        <td><strong>{{ message.subject }}</strong><br>{{ message.body|slice(0,100) }}...</td>
        <td>
          {{ message.createdAt|date('d/m/Y') }}<br>{{ message.createdAt|date('H:i') }}
        </td>
        <td style="display: flex;">
          <a href="{{ path('message_edit', {'id':message.id}) }}" class="btn-table btn-edit icon fa-pencil" role="button" title="{{ 'Edit'|trans }}"></a>
          <a class="btn-table btn-delete icon fa-trash btn-delete-message" data-id="{{ message.id }}" role="button" title="{{ 'Delete'|trans }}" onclick="return confirm('{{ 'Message of'|trans }} {{ message.firstnameSender }} {{ message.lastnameSender }} {{ 'will be definitely deleted, this choice must be confirmed ?'|trans }}')"></a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="6">Il n'y a aucun message à afficher</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% if messages.getTotalItemCount > 7 %}
  {{ knp_pagination_render(messages) }}
{% endif %}
<div class="button-right">
  <a href="{{ path('message_new') }}" class="btn-lg btn-default icon fa-envelope-o">&nbsp;{% trans %}New{% endtrans %}</a>
</div>
{% endblock %}
