<!DOCTYPE html>
<html>
  <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300' rel='stylesheet' type='text/css'/>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/superfish.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/flexslider.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/cs-select.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/css/cs-skin-border.css') }}"/>
      <link rel="stylesheet" href="{{ asset('assets/sass/style.css') }}"/>
    {% endblock %}
    <script src="{{ asset('assets/js/modernizr-2.6.2.min.js') }}"></script> 
  </head>
  <body>
    {% include "include/header.html.twig" %}
    {% block body %}{% endblock %}
    {% include "include/footer.html.twig" %}
    {% block javascripts %}
      <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
      <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
      <script src="{{ asset('assets/js/sticky.js') }}"></script>
      <script src="{{ asset('assets/js/hoverIntent.js') }}"></script>
      <script src="{{ asset('assets/js/superfish.js') }}"></script>
      <script src="{{ asset('assets/js/jquery.flexslider-min.js') }}"></script>
      <script src="{{ asset('assets/js/bootstrap-datepicker.min.js') }}"></script>
      <script src="{{ asset('assets/js/classie.js') }}"></script>
      <script src="{{ asset('assets/js/selectFx.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous"></script>
	    <script>$('select#message_form_recipient').select2({ placeholder: "{{'--Recipient list--'|trans}}" })</script>
      <script src="{{ asset('assets/js/main.js') }}"></script>
      <script src="{{ asset('assets/js/ajax.js') }}"></script>
    {% endblock %}
  </body>
</html>
