{% extends 'dashboard/index.html.twig' %}

{% block table %}
<div class="table-wrapper">
{% include "dashboard/_sectiontitle.html.twig" %}
{% for message in app.flashes('message_user') %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<table class="table table-striped text-left">
  <thead>
    <tr>
      {% for key, header in headers %}
        <th>
          <div class="headers">
            {{ header }}
            <div class="sort-buttons">
              <a href="{{ path('document_list', {'header': key , 'sorting': 'DESC'}) }}" class="icon fa-caret-up" title="{{ 'Descending sorting'|trans }}"></a>
              <a href="{{ path('document_list', {'header': key , 'sorting': 'ASC'}) }}" class="icon fa-caret-down" title="{{ 'Ascending sorting'|trans }}"></a>
            </div>
          </div>
        </th>
      {% endfor %}
      <th>Actions</th>  
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
      <tr>
        <td>{{ document.id }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.category|trans }}</td>
        <td>
          {{ document.updatedAt|date('d/m/Y') }}<br>{{ document.updatedAt|date('H:i') }}
        </td>
        <td style="display: flex;">
          {% if not is_granted('ROLE_ADMIN') %}
            <a href="{{ path('document_transfert', {'id': document.id}) }}" class="btn-table btn-edit icon fa-mail-forward" role="button" title="{{ 'Transfer the document'|trans }}"></a>
          {% endif %}
          <a href="{{ asset('documents/'~document.documentName) }}" class="btn-table btn-edit icon fa-eye" target="_blank" role="button" title="{{ 'Show document'|trans }}"></a>
          {% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_AGENT') %}
            <a href="{{ path('document_delete', {'id':document.id}) }}" class="btn-table btn-delete icon fa-trash" role="button" title="{{ 'Request for deletion'|trans }}" onclick="return confirm('{{ 'You are about to ask for the deletion of the document'|trans }} {{ document.name }} {{ ', this choice must be confirmed ?'|trans }}')"></a>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('document_delete', {'id':document.id}) }}" class="btn-table btn-delete icon fa-trash" role="button" title="{{ 'Delete'|trans }}" onclick="return confirm('{{ 'The document'|trans }} {{ document.name }} {{ 'will be definitely deleted, this choice must be confirmed ?'|trans }}')"></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% if documents.getTotalItemCount > 7 %}
  {{ knp_pagination_render(documents) }}
{% endif %}
<div class="button-right">
  <a href="{{ path('document_new') }}" class="btn-sm btn-default icon fa-plus">&nbsp;{% trans %}Add{% endtrans %}</a>
</div>
{% endblock %}
