{% block table %}
	<h3 class="icon fa-caret-right">&nbsp;SECTION : {{ section|upper }}</h3>
  <div class="row text-left">
    <div class="col-md-8">
      {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
      {% endfor %}
      {{ form_start(registrationForm) }}
        <div class="form-group">
          {{ form_row(registrationForm.firstname) }}
        </div>
        <div class="form-group">
          {{ form_row(registrationForm.lastname) }}
        </div>
        <div class="form-group">
          {{ form_label(registrationForm.email) }}
          {{ form_errors(registrationForm.email) }}
          {{ form_widget(registrationForm.email) }}
        </div>
        <div class="form-group">
          {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
        </div>
        {% if createdAt %}
        <p class="icon fa-calendar text-right" style="color:#555">&nbsp;Profil créé le {{ createdAt|date('d/m/Y') }}</p>
        {% endif %}
        <div class="button-between">
          <a href="{{ path('admin_useradmin_list') }}" class="btn-lg btn-default icon fa-backward">&nbsp;Retour liste</a>
          <button type="submit" class="btn btn-primary icon fa-save">&nbsp;{{ btncaption }}</button>
        </div>
      {{ form_end(registrationForm) }}
    </div>
  </div>
{% endblock %}
