{% if is_granted('ROLE_ADMIN') %}
  <a href="{{ path('admin_useradmin_list') }}" class="btn btn-primary">{% trans %}Administrators{% endtrans %}</a>
  <a href="{{ path('admin_user_list') }}" class="btn btn-primary">{% trans %}Users{% endtrans %}</a>
  <a href="" class="btn btn-primary">Documents</a>
{% endif %}
{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_AGENT') %}
  <a href="{{ path('message_list') }}" class="btn btn-primary">Messages</a>
  <a href="" class="btn btn-primary">Documents</a>
{% endif %}
{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_OWNER') %}
  <a href="{{ path('message_list') }}" class="btn btn-primary">Messages</a>
{% endif %}
{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_LEASEOWNER') %}
  <a href="{{ path('message_list') }}" class="btn btn-primary">Messages</a>
{% endif %}
{% if not is_granted('ROLE_ADMIN') and is_granted('ROLE_TENANT') %}
  <a href="{{ path('message_list') }}" class="btn btn-primary">Messages</a>
{% endif %}

